<div ng-show="tsDatetimePicker.show" class="modal" pointer-events-none>
    <div class="vertical-align">
        <div>
            <div class="modal-dialog modal-sm">
                <div class="modal-content clearfix">
                    <div class="dp">
                        <div class="dp-header">
                            <h4>{{'Date and time'|trans:tsDatetimePicker.language}}</h4>
                        </div>
                        <div ng-if="tsDatetimePicker.mode == 'scroll'">
                            <date-scroll></date-scroll>
                        </div>
                        <div ng-if="tsDatetimePicker.mode == 'picker'">
                            <date-picker></date-picker>
                        </div>
                        <div ng-if="tsDatetimePicker.showTime">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            <div ng-if="tsDatetimePicker.mode == 'scroll'">
                                <time-scroll></time-scroll>
                            </div>
                            <div ng-if="tsDatetimePicker.mode == 'picker'">
                                <time-picker></time-picker>
                            </div>
                        </div>
                        <div class="dp-footer">
                            <button type="button" class="btn btn-default btn-sm" ng-click="onCancelClick()">
                                {{'Cancel'|trans:tsDatetimePicker.language}}
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="onSetClick()">{{'OK'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>