<div ng-show="show" class="modal" pointer-events-none>
    <div class="vertical-align">
        <div>
            <div class="modal-dialog modal-sm">
                <div class="modal-content clearfix">
                    <div class="dp">
                        <div class="dp-header">
                            <h4>{{'DATE_AND_TIME' | translate}}</h4>
                        </div>
                        <div class="dp-widget dp-widget-date">
                            <div class="dp-column dp-column-year">
                                <div class="dp-ul-wrapper">
                                    <div class="dp-ul">
                                        <div ng-repeat="year in year.values" data-value="{{ year }}">{{ year }}
                                        </div>
                                    </div>
                                </div>
                                <div class="dp-selected"></div>
                            </div>
                            <div class="dp-column dp-column-month">
                                <div class="dp-ul-wrapper">
                                    <div class="dp-ul">
                                        <div ng-repeat="month in month.values" data-value="{{ month }}">
                                            {{ month < 9 ? '0' + (month + 1) : month + 1 }}
                                        </div>
                                    </div>
                                </div>
                                <div class="dp-selected"></div>
                            </div>
                            <div class="dp-column dp-column-day">
                                <div class="dp-ul-wrapper">
                                    <div class="dp-ul">
                                        <div ng-repeat="day in day.values" data-value="{{ day }}">
                                            {{ day < 10 ? '0' + day : day }}
                                        </div>
                                    </div>
                                </div>
                                <div class="dp-selected"></div>
                            </div>
                        </div>
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>

                        <div class="dp-widget dp-widget-time">
                            <div class="dp-column dp-column-hour">
                                <div class="dp-ul-wrapper">
                                    <div class="dp-ul">
                                        <div ng-repeat="hour in hour.values" data-value="{{ hour }}">
                                            {{ hour < 10 ? '0' + hour : hour }}
                                        </div>
                                    </div>
                                </div>
                                <div class="dp-selected"></div>
                            </div>
                            <div class="dp-column dp-column-minute">
                                <div class="dp-ul-wrapper">
                                    <div class="dp-ul">
                                        <div ng-repeat="minute in minute.values" data-value="{{ minute }}">
                                            {{ minute < 10 ? '0' + minute : minute }}
                                        </div>
                                    </div>
                                </div>
                                <div class="dp-selected"></div>
                            </div>
                        </div>
                        <div class="dp-footer">
                            <button type="button" class="btn btn-default btn-sm" ng-click="onCancelClick()">{{'CANCEL' | translate}}</button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="onSetClick()">{{'OK' | translate}}</button>
                        </div>
                    </div>
                    <div class="modal-background" pointer-events-none></div>
                </div>
            </div>
        </div>
    </div>
</div>