.datepicker .year {
}
.datepicker .year .dec,
.datepicker .year .inc {
  width: 30px;
  height: 30px;
}
.datepicker .year label {
  display: block;
  text-align: center;
}
.datepicker .month {
  line-height: 30px;
}
.datepicker .month .dec,
.datepicker .month .inc {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.datepicker .month .dec {
  float: left;
}
.datepicker .month .inc {
  float: right;
}
.datepicker .month .dec::before {
  content: '<'
}
.datepicker .month .inc::before {
  content: '>'
}
.datepicker .month .dec::before,
.datepicker .month .inc::before {
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
}
.datepicker .month label {
  display: block;
  text-align: center;
}

.datepicker .days {
  width: 100%;
}
.datepicker .days-names,
.datepicker .days-row {
}
.datepicker .days-names label,
.datepicker .days-cell {
  float: left;
  width: 14%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.datepicker .days-cell.selected,
.datepicker .month .dec:hover,
.datepicker .month .inc:hover,
.datepicker .days-cell:hover {
  background: #ddddde;
}
.datepicker .days-cell.off {
  color: #909090;
}
.datepicker .days-names {
}
