<!DOCTYPE html>
<html>
<head>
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="ts.datetimepicker.css" rel="stylesheet"/>
    <link href="datepicker.css" rel="stylesheet"/>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="node_modules/angular-translate/dist/angular-translate.js"></script>
    <script type="text/javascript" src="node_modules/ts.pointereventsnone/ts.pointereventsnone.js"></script>
    <script type="text/javascript" src="ts.datetimepicker.js"></script>
    <script type="text/javascript" src="datepicker.js"></script>
    <style>
        .modal {
            display: block !important;
        }
    </style>
</head>
<body ng-controller="AppController">

<button ng-click="openDateTimePicker(this, 'date')">DatePicker</button>
<input type="text" ng-model="date" readonly />
<ts-datetime-picker ts-datetime-picker="dateTimePicker"></ts-datetime-picker>

<script>
    angular.module("app", [
        "ts.datetimePicker",'pascalprecht.translate'
    ]);
    angular.module("app").controller('AppController', AppController);

    function AppController ($scope) {
        $scope.date = new Date();

        $scope.dateTimePicker = {
            show: false,
            showTime: false,
            scope: null,
            date: null,
//            mode: 'picker' //scroll
        };

        $scope.openDateTimePicker = function (scope, date) {
            $scope.dateTimePicker.scope = scope;
            $scope.dateTimePicker.date = date;
            $scope.dateTimePicker.show = true;
        };
    }

    angular.bootstrap(document.body, ['app'], {});

//    var datepicker = new Datepicker(document.getElementById('datepicker'), {
//        onDateChanged: function (newDate) {
//            console.log(newDate)
//        }
//    });
</script>

</body>
</html>
