.dp {
    z-index: 1999;
    text-align: center;
    line-height: 40px;
    color: #454545;
    font-size: 16px;
}
.dp div {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}
.dp-widget{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.dp-footer {
    width: 100%;
}
.dp-widget-time {
    padding: 0 30px;
}
.dp-column {
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    margin: 0 5px;
    cursor: pointer;
}
.dp-ul-wrapper{
    height: 120px;
    z-index: 4;
}
.dp-column, .dp-ul-wrapper {
    position: relative;
    overflow: hidden;
}
.dp-row, .dp-footer{
    height: 40px;
}
.dp-selected{
    top: 40px;
    position: absolute;
    height: 40px;
    width: 100%;
    left: 0;
    border-top: 1px solid #2b669a;
    border-bottom: 1px solid #2b669a;
}